<%- layout('layouts/boilerplate') %>
<h1 class="mb-2">Current Listings</h1>
<hr>
<% if (delivery.coins > 0 || delivery.itemCount.length > 0) { %> 
  <div class="alert alert-info">
    Ready for pickup: 
    <br>
    <% if (delivery.coins > 0) { %>
      <%- convertGold(delivery.coins) %>
    <% } %>
    <% if (delivery.itemCount > 0) { %>
      <br>
      <%= delivery.itemCount %> items
    <% } %>
  </div>
<% } %>
<input id="filterInput" class="form-control form-control-lg my-3" type="text" placeholder="Type to search" aria-label="Search input">
<ul class="nav nav-pills nav-fill mb-2" id="pills-tab" role="tablist">
  <li class="nav-item darkerBlue" role="presentation">
    <a class="nav-link active" id="buy" data-bs-toggle="pill" href="#pills-buy" role="tab" aria-controls="pills-buy" aria-selected="true">Buy Orders</a>
  </li>
  <li class="nav-item darkerBlue" role="presentation">
    <a class="nav-link" id="sell" data-bs-toggle="pill" href="#pills-sell" role="tab" aria-controls="pills-sell" aria-selected="false">Sell Orders</a>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-buy" role="tabpanel" aria-labelledby="buy">
    <div class="py-2 mb-3">
      <div class="py-2 mb-3">
        <ul class="list-group-flush p-0">
          <% for (let item of buy) { %> 
            <li class="list-group-item">
              <div class="row">
                <div class="col-auto mb-0">
                  <img class="rounded" src="<%= buyDict[item.item_id].icon %>" alt="Item image">
                </div>
                <div class="col">
                  <strong><p class="mb-0 itemTitle"><%= buyDict[item.item_id].name %></strong> (<%= item.quantity %>)</p>
                  <p class="m-0"><%- convertGold(item.price) %></p>
                  <p class="m-0"><em><%= timeAgo(item.created) %></em></p>
                </div>
              </div>
            </li>
          <% } %> 
        </ul>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="pills-sell" role="tabpanel" aria-labelledby="sell">
    <div class="py-2 mb-3">
      <div class="py-2 mb-3">
        <ul class="list-group-flush p-0">
          <% for (let item of sell) { %> 
            <li class="list-group-item">
              <div class="row">
                <div class="col-auto mb-0">
                  <img class="rounded" src="<%= sellDict[item.item_id].icon %>" alt="Item image">
                </div>
                <div class="col">
                  <strong><p class="mb-0 itemTitle"><%= sellDict[item.item_id].name %></strong> (<%= item.quantity %>)</p>
                  <p class="m-0"><%- convertGold(item.price) %></p>
                  <p class="m-0"><em><%= timeAgo(item.created) %></em></p>
                </div>
              </div>
            </li>
          <% } %> 
        </ul>
      </div>
    </div>
  </div>
</div>
<script src="/js/filterSearch.js"></script>