<% layout('./layouts/boilerplate') %>
<h1>Bank</h1>
<hr>
<p class="text-muted">Free slots: <%= bankObj.empty %> / <%= bank.length %></p>
<input id="filterInput" class="form-control form-control-lg my-3" type="text" placeholder="Type to search" aria-label="Search input" autofocus>
<ul class="list-group-flush ps-0">
  <% for (let item of bank) { %>
    <% if (bankObj[item[0]]) { %>
      <li class="list-group-item">
        <div class="row">
          <div class="col-auto">
            <img src="<%= bankObj[item[0]].icon %>" width="64" height="64" alt="Item image">
          </div>
          <div class="col">
            <p class="mb-0 itemTitle"><strong><%= bankObj[item[0]].name %></strong></p>
            <p class="mb-0"><%= bankObj[item[0]].type %></p>
            <p class="mb-0">Qty: <%= item[1] %></p>
          </div>
        </div>
      </li>
    <% } %> 
  <% } %> 
</ul>
<script src="/js/filterSearch.js"></script>