<% layout('./layouts/boilerplate') %>
<h1>Crafting</h1>
<hr>
<p>Unlocked Recipes:</p>
<ul class="list-group-flush ps-0">
  <% for (let [id, recipe] of Object.entries(recipes)) { %>
    <li class="list-group-item">
      <div class="row">
        <div class="col-auto">
          <img class="rounded" width="64" src="<%= recipe.icon %>" alt="<%= recipe.name %>">
        </div>
        <div class="col">
          <p class="m-0">
            <strong><a href="https://wiki.guildwars2.com/wiki/<%= recipe.name %>"><%= recipe.name %></a></strong> (<%= recipe.min_rating %>)
          </p>
          <div class="table-responsive">
            <p class="mb-0"><%= recipe.disciplines.join(', ') %></p>
            <table class="table table-sm table-hover">
              <thead>
                <tr>
                  <th scope="col" style="width: 10px;">Qty</th>
                  <th scope="col">Ingredient</th>
                </tr>
              </thead>
              <tbody>
                <% for (let i of recipe.ingredients) { %>
                  <tr>
                    <td><%= i.count %></td>
                    <td><%= i.name %></td>
                  </tr>
                <% } %> 
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </li>
  <% } %> 
</ul>