<%- layout('layouts/boilerplate') %>
<h2>Daily Achievements</h2>
<ul class="list-group-flush mb-3">
  <% for (let quest of quests) { %>
    <li class="list-group-item">
      <strong><%= quest.name %></strong>
      <br>
      <%= quest.requirement %> 
    </li>
  <% } %> 
</ul>

<h2>Tomorrow's Daily Achievements</h2>
<ul class="list-group-flush mb-3">
  <% for (let quest of tomorrowQuests) { %>
    <li class="list-group-item text-muted">
      <strong><%= quest.name %></strong>
      <br>
      <%= quest.requirement %> 
    </li>
  <% } %> 
</ul>